*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
html{    
    scroll-behavior: smooth;
}
body {
    background-color: rgba(249, 189, 23, 0.088);
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}
h1 {
    position: absolute;
    margin-top: 22px;
    margin-left: 140px;
    font-size: 35px;
    color: #343333;
    
}
h2 {
    position: absolute;
    margin-top: -50px;
    margin-left: 50%;
    transform: translateX(-50%);
    font-size: 30px;
    color: #343333c7;
}
.table {
    width: 100%;
    border-collapse: collapse;
    font-family: 'Montserrat', sans-serif;
    font-weight: 1000;
    font-size: 15px;
    color: #343333;
    margin-top: 200px;
}
.table th,
.table td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
}
.table th {
    font-weight: 1000;
}
.table td:nth-child(2) {
    max-width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}